:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  align-items: stretch;
}

.product-card figure img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  display: block;
  object-fit: cover;
}

.product-card section {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-card section .subtitle {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: var(--grey);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.product-card section h1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-size: 2rem;
}

.product-description {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: var(--grey);
  font-size: 0.9rem;
  text-align: start;
}

.price-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.price-wrapper .current_price {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-size: 1.8rem;
  color: var(--green-500);
}

.price-wrapper .original-price {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  color: var(--grey);
  text-decoration: line-through;
}

.product-card section button {
  width: 100%;
  background-color: var(--green-500);
  padding: 1rem 0;
  font-size: 1rem;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.product-card section button:hover {
  background-color: var(--green-700);
}

@media (min-width: 768px) {
  .product-card {
    flex-direction: row;
    max-width: 46rem;
  }

  .product-card figure,
  .product-card section {
    flex: 1;
  }

  .product-card figure img {
    border-radius: 1rem 0 0 1rem;
  }
  .product-card section {
    border-radius: 0 1rem 1rem 0;
    justify-content: space-between;
  }

  .product-card section h1 {
    font-size: 2.5rem;
  }

  .product-description {
    font-size: 1rem;
  }
}
