* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(275, 100%, 97%);
    background-image: url("../assets/images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.accordion_container {
    background-color: white;
    margin: 10rem 1.5rem 0 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    font-family: "Work Sans", sans-serif;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.heading h1 {
    color: hsl(292, 42%, 14%);
}

.heading img {
    width: 2rem;
    height: 2rem;
}

.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    padding: 1.5rem 0;
    border-bottom: 2px solid hsl(275, 100%, 97%);
    cursor: pointer;
}

.accordion h2 {
    font-size: 1.3rem;
    font-family: "Work Sans", sans-serif;
    color: hsl(292, 42%, 14%);
}

.accordion p {
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
}

.panel {
    padding: 18px 0;
    display: none;
    overflow: hidden;
    border-bottom: 2px solid hsl(275, 100%, 97%);
}

.accordion:last-child,
.panel:last-child {
    border: 0;
}

/* md screens */
@media (min-width: 768px) {
    body {
        background-image: url("../assets/images/background-pattern-desktop.svg");
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .accordion_container {
        max-width: 42rem;
        margin-top: 14rem;
    }
}


.attribution {
    margin-top: 2rem;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
}